<p-growl [(value)]="msgs"></p-growl>
<NgGrid (clickedAdd)="addClicked()" (clickedDelete)="deleteClicked()" (clickedEdit)="editClicked()"
        [colDefinition]="colDefs" on-rowSelected="rowSelected($event)"
        [rowData]="suppliers"></NgGrid>


<p-dialog [(visible)]="display" modal="modal" [closable]="true" [showHeader]="true">
  <p-header>
    Add new supplier
  </p-header>
  <form #supplierForm="ngForm">
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <label for="inputSuccess1" class="control-label">Supplier Code</label>
        <input type="text" class="form-control" (change)="valiadteForm()" style="color: black!important" [(ngModel)]="supplier.Code"
               id="inputSuccess1" required
               name="Code" #code="ngModel">
      </div>
      <div class="col-sm-6">
        <label for="inputSuccess3">Name</label>
        <input type="text" [(ngModel)]="supplier.Name" id="inputSuccess3" (change)="valiadteForm()"
               class="form-control" style="color: black!important" required
               name="Name" #name="ngModel">
      </div>
    </div>
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <label for="inputSuccess4">Description</label>
        <input type="text" [(ngModel)]="supplier.Description" id="inputSuccess4" (change)="valiadteForm()"
               class="form-control" style="color: black!important" required
               name="Description" #description="ngModel">
      </div>
	   <div class="col-sm-6">
        <label for="inputSuccess5">Account No.</label>
        <input type="text " [(ngModel)]="supplier.AccountNo" id="inputSuccess5" (change)="valiadteForm()"
               class="form-control" style="color: black!important" required
               name="AccountNo" #accountNo="ngModel">
      </div>
    </div>
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <label for="inputSuccess6">Country</label>
        <div class="input-group">
        <input type="text" [(ngModel)]="supplier.Country.Name" id="inputSuccess6"
               class="form-control" style="color: black!important;" required
               name="Country" #country="ngModel">
               <app-countries on-selectedRowListener="selectCountry($event)"></app-countries>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 offset-sm-8">
        <button type="button" (click)="onSubmit()" class="btn btn-success" [disabled]="!canSubmitSupplierForm">Save</button>
      </div>
    </div>
  </form>

</p-dialog>
